@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



.bg-parallax:hover {
    transform: scale(1.05);
}
  /* Applique un effet métallique au logo avec un survol */
.logo-scintillant {
    position: relative;
    display: inline-block;
    z-index: 1;
    height: 120px; /* Taille du logo */
    width: auto;
    transition: all 0.3s ease; /* Transition douce pour l'effet hover */
    filter: brightness(1); /* Donne une brillance initiale pour le logo */
}

/* Effet métallique lors du survol */
.logo-scintillant:hover {
    filter: brightness(1.1) saturate(1.1) contrast(1.1); /* Augmente la brillance et contraste pour un effet métallique */
    transform: scale(1.05); /* Agrandit légèrement le logo pour l'effet de zoom */
}
